<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header id="header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href="/" class="nav-brand text-dark"> Toys Managerment System</a>

                </div>
            </div>
        </nav>
    </header>
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/"><i class="fas fa-angle-double-left"></i>All Toys</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New Toy</h2>
                <span class="text-light">Toy the below form to create a new account</span>
            </div>
            <form method="POST" id="update_user">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="Quantity" class="text-light">Quantity</label>
                        <input type="text" name="quantity" value="" placeholder="example: 2">
                    </div>

                    <div class="form-group">
                        <label for="Price" class="text-light">Price</label>
                        <input type="text" name="price" value="" placeholder="Enter Price">
                    </div>

                    <div class="form-group">
                        <label for="category" class="text-light">Category</label>
                        <div class="radio inline">
                            <input type="radio" id="radio-2" name=" category " value="Car ">
                            <label for="radio-2" class="radio-label ">Car</label>
                        </div>
                        <div class="radio inline ">
                            <input type="radio" id="radio-3" name="category " value="Doll ">
                            <label for="radio-3" class="radio-label ">Doll</label>
                        </div>
                        <div class="radio inline ">
                            <input type="radio" id="radio-4" name="category " value="Plane ">
                            <label for="radio-4" class="radio-label ">Plane</label>
                        </div>
                    </div>

                   
                    
                    <div class="form-group ">
                        <button type="submit " class="btn text-dark update " onmouseover="code1() " onmouseout="code2() " id="button ">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </main>

</body>

</html>
<script>
    function code1() {
        document.getElementById("button ").style.color = "brown ";
    }

    function code2() {
        document.getElementById("button ").style.color = "black ";
    }
</script>