<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Enter Name">
        </div>
        <div class="form-group">
            <label for="Quantity" class="text-light">Quantity</label>
            <input type="text" name="quantity" value="" placeholder="example: 2">
        </div>

        <div class="form-group">
            <label for="Price" class="text-light">Price</label>
            <input type="text" name="price" value="" placeholder="Enter Price">
        </div>

        <div class="form-group">
            <label for="category" class="text-light">Category</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name=" category " value="Car ">
                <label for="radio-2" class="radio-label ">Car</label>
            </div>
            <div class="radio inline ">
                <input type="radio" id="radio-3" name="category " value="Doll ">
                <label for="radio-3" class="radio-label ">Doll</label>
            </div>
            <div class="radio inline ">
                <input type="radio" id="radio-4" name="category " value="Plane ">
                <label for="radio-4" class="radio-label ">Plane</label>
            </div>
        </div>
       
        </div>
        <div class="form-group ">
            <button type="submit " class="btn text-dark update " id="button ">Save</button>
        </div>
    </div>
</form>